* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

h1 { 
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #323232;
    margin: 50px 0 25px 0;
    display: block;
}

#employee-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 100%;
    width: 100%;
    margin-right: 0%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.card img {
    border-radius: 100%;
    flex: 0 0 30%;
    align-self: center;
}

.name {
    font-weight: 700;
    font-size: 16px;
    flex-basis: auto;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.email,
.city {
    font-size: 12px;
    color: #a1a1a1;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.employee-info {
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.close-btn {
    float: right; 
    color: #323232; 
    font-size: 32px;  
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: darkgray;
}



@media screen and (min-width: 700px){
    .card {
        flex: 0 0 32%;
        width: 32%;
        margin-right: 2%;
    }

    .card:nth-of-type(3n) {
        margin-right: 0%;
    }
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}